.div {
  background-color: var(--White, #fff);
  display: flex;
  flex-direction: column;
  padding: 0 40px;
}


.div-2 {
  align-self: center;
  width: 100%;
  max-width: 1130px;
  margin: 195px 0 157px;
}



.div-3 {
  gap: 20px;
  display: flex;
}



.column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 40%;
  margin-left: 0px;
}



.div-4 {
  display: flex;
  flex-direction: column;
}



.img {
  aspect-ratio: 6.19;
  object-fit: cover;
  object-position: center;
  width: 100%;
  overflow: hidden;
  align-self: stretch;
  min-height: 53px;
}



.div-5 {
  color: var(--lightmode-grays-gray-7-lightmode, #333e4f);
  align-self: stretch;
  margin-top: 69px;
  white-space: nowrap;
  font: 700 32px/100% Poppins, sans-serif;
}



.div-6 {
  color: var(--lightmode-grays-gray-6-lightmode, #5a626e);
  align-self: stretch;
  margin-top: 21px;
  white-space: nowrap;
  font: 600 24px/100% Poppins, sans-serif;
}


.div-7 {
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  margin-top: 22px;
  width: 100%;
  padding-right: 20px;
  gap: 20px;
}


#task1 {
  color: var(--lightmode-grays-gray-6-lightmode, #5a626e);
  align-self: stretch;

  white-space: nowrap;
  font: 600 14px/100% Poppins, sans-serif;
}

.img-2 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 24px;
  overflow: hidden;
  align-self: stretch;
  max-width: 100%;
}

.div-9 {
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  margin-top: 16px;
  padding-right: 19px;
  gap: 20px;
}

#task-panel {
  gap: 20px;
}

#task2 {
  color: var(--lightmode-grays-gray-6-lightmode, #5a626e);
  align-self: stretch;

  white-space: nowrap;
  font: 600 14px/100% Poppins, sans-serif;
}

.img-3 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 24px;
  overflow: hidden;
  align-self: stretch;
  max-width: 100%;
}

#task3 {
  color: var(--lightmode-grays-gray-6-lightmode, #5a626e);
  align-self: stretch;

  white-space: nowrap;
  font: 600 14px/100% Poppins, sans-serif;
}



#task4 {
  color: var(--lightmode-grays-gray-6-lightmode, #5a626e);
  align-self: stretch;
  margin-top: 0px;
  white-space: nowrap;
  font: 600 14px/100% Poppins, sans-serif;
}



#div-13 {
  color: var(--lightmode-graysgray-8-lightmode);
  text-align: center;
  margin-top: 24px;
  white-space: nowrap;
  font: 600 32px/100% Poppins, sans-serif;
}


.progress-bar {
  border-radius: 500px;
  align-self: stretch;
  display: flex;
  margin-top: 21px;
  flex-grow: 1;
  flex-direction: column;
  width: 440px;
  height: 8px;
  background-color: var(--lightmode-graysgray-2-lightmode);
}


#task5 {
  font-weight: 600;
  color: #5A626E;
  font-size: 14px;
  white-space: nowrap;
  line-height: 14px;
  font-family: "Poppins", Helvetica;
  display: none;
}

.bar {
  align-self: start;
  display: flex;
  width: 0%;
  height: 100%;
  transition: width 0.5s;
  background-color: var(--lightmode-feedbackpositive-pure);
  border-radius: 500px;
  flex-direction: column;
}

.column-2 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 60%;
  margin-left: 20px;
}



.img-4 {
  aspect-ratio: 1.33;
  object-fit: contain;
  object-position: center;
  width: 100%;
  overflow: hidden;
  flex-grow: 1;
}

@media (min-width: 320px) and (max-width: 999px) {
  .div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 0 0px;
  }

  #task-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    margin-top: 20px;
  }

  .div-2 {
    margin: 40px 0;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .div-3 {
    flex-direction: column;
    gap: 10px;
  }

  .div-4 {
    align-items: center;
  }

  .column,
  .column-2 {
    width: 100%;
    margin-left: 0;
  }

  .div-5 {
    font-size: 30px;
    margin-top: 20px;
    display: flex;
    justify-content: center;


  }

  .div-6 {
    font-size: 20px;
    margin-top: 10px;
    white-space: normal;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .div-7,
  .div-9 {
    margin-top: 10px;
    gap: 10px;
  }

  #div-13 {
    font-size: 20px;
    margin-top: 20px;
  }

  #task1,
  #task2,
  #task3,
  #task4 {
    font-size: 20px;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  #task5 {
    font-size: 20px;
    white-space: normal;
  }

  .img {
    margin: 3px;
    height: fit-content;
    justify-content: center;
  }

  .column-2 .img-4 {
    display: none;
  }

  .progress-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    height: 8px;
    padding: 0 0px;
    margin: 0 0;
   
  }

  .bar {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* @media (min-width: 320px) and (max-width: 800px) {
    .div {
        flex-direction: column;    
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 39px;
        text-align: center;
        
    }

    #task-panel {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;
    }

    .div-2 {
        margin: 40px 0;
        max-width: 100%;
    }

    .div-3 {
        flex-direction: column;
        gap: 10px;
    }
    .div-4{
      align-items: center;
    }

    .column,
    .column-2 {
        width: 100%;
        margin-left: 0;
    }

    .div-5 {
        font-size: 30px;
        margin-top: 20px;
    }

    .div-6 {
        font-size: 30px;
        margin-top: 10px;
       
    }

    .div-7,
    .div-9 {
        margin-top: 10px;
        gap: 10px;
    }

    #div-13 {
        font-size: 30px;
        margin-top: 20px;
    }

    .progress-bar {
        margin-top: 20px;
        width: 80%;
        
    }

    #task1,
    #task2,
    #task3,
    #task4 {
        font-size: 20px;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    #task5{
      font-size: 40px;
    }

    .img,
    .img-2,
    .img-3 {
        height: auto;
        justify-content: center;
    }

    .column-2 .img-4{
        display: none;
    }
}  */
/* @media (min-width: 801) and (max-width: 1400px){
  .div {
    padding: 0 20px;
    
  }
  .div-2 {
    max-width: 100%;
    margin: 40px 0;
  }
  .div-3 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
  .column {
    width: 100%;
  }
  .div-4 {
    max-width: 100%;
    margin-top: 18px;
  }
  .img {
    max-width: 80%;
  }
  .div-5 {
    max-width: 100%;
    margin-top: 40px;
    white-space: initial;
    font-size: 5vw;

  }
  .div-6 {
    max-width: 100%;
    white-space: initial;
    font-size: 40px;
  }
  .div-7 {
    flex-wrap: wrap;
   
  }
  .div-9 {
    max-width: 100%;
    flex-wrap: wrap;
  }
  #task1 {
    font-size: 30px;
  }
  #task2 {
    font-size: 30px;
  }
  #task3 {
    max-width: 100%;
    white-space: initial;
    font-size: 30px;
  }
  #task4 {
    max-width: 100%;
    white-space: initial;
    font-size: 30px;
  }
  #task5 {
      font-size: 30px;
  }
  #div-13 {
    white-space: initial;
  }
  .column-2 {
    width: 100%;
  }
  .progress-bar {
    max-width: 100%;
  }
  .img-4 {
    max-width: 100%;
    margin-top: 19px;
  }
}  */