:root {
    --white: rgba(255, 255, 255, 1);
    --lightmode-graysgray-7-lightmode: rgba(51, 62, 79, 1);
    --lightmode-graysgray-6-lightmode: rgba(90, 98, 110, 1);
    --lightmode-graysgray-8-lightmode: rgba(25, 32, 45, 1);
    --lightmode-feedbackpositive-pure: rgba(30, 203, 79, 1);
    --lightmode-graysgray-2-lightmode: rgba(233, 235, 238, 1);
  }
  